1. What are data structures, and why are they important.

A. Data structures are ways of organizing and storing data in a computer so that it can be accessed and used efficiently. They define the layout and relationship of data elements.

Common examples:

List / Array - stores elements in a sequence

Tuple - an immutable sequence

Set - a collection of unique elements

Dictionary / HashMap - key-value pairs

Stack, Queue, Linked List, Tree, Graph - more advanced structures

**Data Structures are important because they includes the following features:**

**Efficient Data Access:**
They help retrieve, insert, or delete data quickly.

**Better Performance:**
Choosing the right structure improves speed and memory usage.

**Organized Data:**
They help keep data well-organized and easy to manage.

**Problem Solving:**
Many algorithms rely on data structures (like trees or graphs) to solve complex problems.

**Foundation for Algorithms:**
Understanding data structures is essential for writing efficient algorithms.

2.  Explain the difference between mutable and immutable data types with examples.

A. A mutable data type can be changed after it is created. You can modify, add, or remove elements without creating a new object.

Examples of mutable types: List, Set

An immutable data type cannot be changed after it is created. Any change creates a new object.

Examples of immutable types: String, Tuple

In [ ]:
#Mutable Data Type:
list = ["apple", "orange", "banana"]

In [ ]:
list

['apple', 'orange', 'banana']

In [ ]:
type(list)

list

In [ ]:
#Immutable Data Type:
tuple = (1, 2,3, 4)

In [ ]:
tuple

(1, 2, 3, 4)

In [ ]:
type(tuple)

tuple

3. What are the main differences between lists and tuples in Python.

A. Main Differences Between Lists and Tuples

**Mutability:**

Lists are mutable, which means you can modify them after creation. You can add, remove, or change elements.

Tuples are immutable, meaning once they are created, you cannot change their contents. This helps protect the data from being accidentally modified.

**Syntax:**

Lists are defined using square brackets — for example: [1, 2, 3].

Tuples are defined using round brackets — for example: (1, 2, 3).

**Methods:**

Lists offer many built-in methods such as .append(), .extend(), .pop(), .remove(), etc., which help in modifying the data easily.

Tuples have very few built-in methods, mostly limited to .count() and .index() since they cannot be changed.

**Use Case:**

Use lists when you need a collection of items that might change during the program. For example, a list of items in a shopping cart.

Use tuples when the data should remain constant or fixed, like storing the days of the week or a pair of coordinates.

**Performance:**

Tuples are slightly faster and require less memory than lists because they are immutable. This makes them better suited for situations where speed and memory efficiency matter and the data doesn’t need to change.

4.  Describe how dictionaries store data.

A. A dictionary in Python stores data in the form of key-value pairs. It's like a real-world dictionary, where each word (key) has a corresponding definition (value).

In [ ]:
my_dict = {
   "Name" : "Yeshwanth",
   "Age" : 22,
   "City" : "Hyderabad"
}

In [ ]:
my_dict

{'Name': 'Yeshwanth', 'Age': 22, 'City': 'Hyderabad'}

In [ ]:
my_dict.keys()

dict_keys(['Name', 'Age', 'City'])

In [ ]:
my_dict.values()

dict_values(['Yeshwanth', 22, 'Hyderabad'])

5. Why might you use a set instead of a list in Python.

A. A set and a list both store collections of items, but a set has unique features that make it useful in specific situations. Here's why you might prefer a set:

 **To Automatically Remove Duplicates**
A set does not allow duplicate values. If you have a list with repeated elements and want only unique ones, converting it to a set is the easiest way.

**For Faster Membership Testing**
Checking whether an item exists in a set is much faster than in a list, especially for large datasets.

 **For Set Operations**
Sets support mathematical operations like union, intersection, and difference — which are not directly available for lists.

**To Ensure Uniqueness**
Use a set when you need to collect items but want to make sure each item is stored only once, like counting unique words or user IDs.

**When Order Doesn't Matter**
Sets are unordered collections. If you don't care about the order of items, a set can be simpler and more efficient than a list.

6. What is a string in Python, and how is it different from a list.

A. A string in Python is a sequence of characters, used to represent text.
It is immutable, meaning you cannot change it once it's created.

You can create a string using single (' '), double (" "), or triple quotes (''' ''' or """ """):

**Difference Between String and List:**

**Data Type:**

String holds only characters

List can hold any data type (numbers, strings, etc.)

**Mutability:**

String is immutable

List is mutable

**Usage:**

Use string for text

Use list for collections of items

**Syntax:**

String: "abc"

List: ["a", "b", "c"]

7. How do tuples ensure data integrity in Python.

A. Tuples ensure data integrity by being immutable, which means their values cannot be changed after creation. This behavior helps protect data from accidental modifications.

**a.** **Immutability**
Once a tuple is created, its contents cannot be changed — no adding, removing, or updating elements.

**b.** **Safe for Fixed Data**
Tuples are ideal for storing constant data that must remain unchanged — like configuration settings, coordinates, or fixed categories.

**c. Hashable and Usable as Keys**
Because they are immutable, tuples can be used as keys in dictionaries (if they contain only immutable elements), which ensures the key data doesn’t get altered.

8. What is a hash table, and how does it relate to dictionaries in Python.

A. A hash table is a data structure that stores data in key-value pairs and allows fast access to values based on their keys.

It works like this:

>Each key is passed through a hash function, which converts it into a unique number called a hash.

>This hash determines where the value is stored in memory.

>When you want to retrieve the value, Python uses the same hash to quickly find it, without checking every item.

**How Does It Relate to Dictionaries in Python?**

In Python, the dictionary (dict) is built on top of a hash table.

>Keys in a dictionary are hashed.

>The hash value determines where the corresponding value is stored.

>This allows for very fast lookups, updates, and deletions — usually in constant time O(1).

In [ ]:
my_dict = {"Apple" : 10, "Banana" : 20, "orange" : 30}

In [ ]:
print(my_dict["Apple"])

10

9. Can lists contain different data types in Python.

A. In Python, lists are flexible and can store elements of any type, including:

Integers

Strings

Floats

Booleans

Other lists

Tuples, dictionaries, objects, etc.

In [ ]:
list = ["Orange", True, False, 1, 2.2, "Yeshwanth"]

In [ ]:
list

['Orange', True, False, 1, 2.2, 'Yeshwanth']

In [ ]:
type(list)

list

10.  Explain why strings are immutable in Python.

A. Strings are immutable in Python because once a string is created, its contents cannot be changed. Any operation that seems to "modify" a string actually creates a new string.

Reasons Why Strings Are Immutable:

**Memory Efficiency -** Reuses the same string objects to save memory.

**Safe Dictionary Keys -** Allows strings to be used as reliable keys in dictionaries and sets.

**Thread Safety -** Prevents issues in multi-threaded programs.

**Predictability -** Makes strings stable and easy to debug.

**Performance -** Faster access and handling in many operations.

11. What advantages do dictionaries offer over lists for certain tasks.

A. Dictionaries offer several advantages over lists for specific tasks, especially when working with key-value pairs.

1. Fast Lookup by Key
Dictionaries provide instant access to data using a key (like a name or ID), while lists require searching by index or looping.

2. Clearer Data Organization
Dictionaries store data as key-value pairs, making it easier to understand and work with structured data.

3. Flexible Key Access
You can access values using descriptive keys, rather than relying on numeric indexes.

4. Easier to Update Specific Items
You can update a specific value directly using its key, without worrying about its position.

5. No Need to Remember Order
In a list, order matters. In a dictionary, you don’t have to remember where an item is stored — just use the key.

12.  Describe a scenario where using a tuple would be preferable over a list.

A. Use a tuple when the data should not change.
Tuples are immutable, meaning once created, they cannot be modified — this helps ensure data safety and integrity.
Storing Coordinates (x, y)
Suppose you're working with locations on a map and you want to store the coordinates of a point:

In [ ]:
#latitude, longitude
location = (45.123, 78.456)

In [ ]:
location

(45.123, 78.456)

In [ ]:
type(location)

tuple

13. How do sets handle duplicate values in Python.

A. Sets in Python automatically remove duplicates.

When you create a set, any repeated values are stored only once, because sets only allow unique elements.

In [ ]:
set = {1, 2, 3, 3, 4, 5, 6, 5}

In [ ]:
set

{1, 2, 3, 4, 5, 6}

14. How does the “in” keyword work differently for lists and dictionaries.

A. In Lists: Checks if a value exists in the list
    ,In Dictionaries: Checks if a key exists in the dictionary (not the value!)
   , In Dictionaries: Check for a value in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.

A. cannot modify tuple elements because tuples are immutable — this protects the data and improves reliability.

16. What is a nested dictionary, and give an example of its use case.

A. A nested dictionary is a dictionary within another dictionary.
It allows you to organize and store complex, structured data — like a real-world hierarchy.

**Use Case:**
A school system storing student records:
Outer dictionary → Student IDs
Inner dictionaries → Individual student info (name, age, grade, etc.)

In [ ]:
students = {
"101" : {"name": "Yeshu", "grade":'A'},
"102" : {"name" : "Nikki", "grade" : "A+"},
"103" : {"name" : "Nandu", "grade" : "A"}
}

In [ ]:
print(students["101"]["name"])

Yeshu

17. Describe the time complexity of accessing elements in a dictionary.

A. Accessing elements in a dictionary has an average-case time complexity of O(1), meaning it takes constant time. This is because dictionaries use hash tables, which allow direct access to values using their keys. In rare worst-case scenarios, due to hash collisions, the time complexity can become O(n).

18. In what situations are lists preferred over dictionaries.

A. Lists are preferred over dictionaries when the order of elements matters or when you only need to store and access data using indexes. They are ideal for situations where you're working with sequences of items, looping in order, or when key-value pairing is not needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.

A. Dictionaries were traditionally considered unordered because they did not maintain the order of key-value pairs before Python 3.7. From Python 3.7 onwards, they preserve insertion order, but conceptually they are still accessed by keys, not by position.

This affects data retrieval because:
>You cannot access items by index (like lists)
>,Data is retrieved using the key, regardless of the order it was added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

A. **Lis**t:Data is retrieved using index positions (e.g., list[0]).
  Elements are accessed by their order in the list.

In [ ]:
#Example
fruits = ["apple", "banana", "mango"]
print(fruits[1])

banana

**Dictionary:**
Data is retrieved using keys, not positions (e.g., dict["name"]).
Each value is associated with a unique key.

In [ ]:
person = {"name": "Alice", "age": 25}
print(person["name"])

Alice

 **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
x = "Nandu"

In [ ]:
print(x)

Nandu

In [ ]:
type(x)

str

2.  Write a code to find the length of the string "Hello World".

In [ ]:
a = "Hello World"

In [ ]:
a

'Hello World'

In [ ]:
len(a)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"

In [ ]:
sliced_text = text[:3]

In [ ]:
sliced_text

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"

In [ ]:
string

'hello'

In [ ]:
string.upper()

'HELLO'

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"

In [ ]:
a

'I like apple'

In [ ]:
a.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1, 2, 3, 4, 5]

In [ ]:
print(list)

[1, 2, 3, 4, 5]

In [ ]:
type(list)

list

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list1 = [1, 2, 3, 4]

In [ ]:
list1

[1, 2, 3, 4]

In [ ]:
list1.append(10)

In [ ]:
list1

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1, 2, 3, 4, 5]

In [ ]:
list

[1, 2, 3, 4, 5]

In [ ]:
list.remove(3)

In [ ]:
list

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = ['a', 'b', 'c', 'd']

In [ ]:
list

['a', 'b', 'c', 'd']

In [ ]:
list[1]

'b'

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]

In [ ]:
list

[10, 20, 30, 40, 50]

In [ ]:
list[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100, 200, 300)

In [ ]:
print(tuple)

(100, 200, 300)

In [ ]:
type(tuple)

tuple

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple1 = ('red', 'green', 'blue', 'yellow')

In [ ]:
tuple1

('red', 'green', 'blue', 'yellow')

In [ ]:
tuple1[-2]

'blue'

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple = (10, 20, 5, 15)

In [ ]:
tuple

(10, 20, 5, 15)

In [ ]:
min(tuple)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')

In [ ]:
tuple

('dog', 'cat', 'rabbit')

In [ ]:
tuple[1]

'cat'

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
a = ('apple', 'orange', 'mango')

In [ ]:
a

('apple', 'orange', 'mango')

In [ ]:
if'kiwi'in a:
  print("kiwi is in tuple")
else:
  print("kiwi is not in tuple")

kiwi is not in tuple

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
a = {'a', 'b', 'c'}

In [ ]:
a

{'a', 'b', 'c'}

In [ ]:
type(a)

set

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1 = {1, 2, 3, 4, 4}

In [ ]:
set1

{1, 2, 3, 4}

In [ ]:
type(set1)

set

In [ ]:
set1.clear()

In [ ]:
set1

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1 = {1, 2, 3, 4}

In [ ]:
set1

{1, 2, 3, 4}

In [ ]:
set1.remove(4)

In [ ]:
set1

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
x = {1, 2, 3}
y = {3, 4, 5}

In [ ]:
x | y

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

In [ ]:
a & b

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {"name": "Malika", "age":44, "city": "Anantapure"}

In [ ]:
my_dict

{'name': 'Malika', 'age': 44, 'city': 'Anantapure'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict1 = {"name":"John", "age":25}

In [ ]:
my_dict1

{'name': 'John', 'age': 25}

In [ ]:
my_dict1["country"] = "USA"

In [ ]:
my_dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict = {"name": "Alice", "age":30}

In [ ]:
dict

{'name': 'Alice', 'age': 30}

In [ ]:
dict["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {"name":"Bob", "age":22, "city":"New York"}

In [ ]:
my_dict

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
del my_dict["age"]

In [ ]:
my_dict

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict = {"name":"Alice", "city":"Paris"}

In [ ]:
dict

{'name': 'Alice', 'city': 'Paris'}

In [ ]:
dict = {"name":"Alice", "city":"Paris"}
if 'city' in dict:
  print("key 'city' exist in the dictionary")
else:
  print("key 'city' doesn't exist in the dictionary")

key 'city' exist in the dictionary

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = ["yamini", "Nandini", 2, 2.2, "true"]
tuple = (1, 2, 3, 4)
my_dict = {"name":"Yeshu", "age": 22, "city": "USA"}

In [ ]:
print(list)
print(tuple)
print(my_dict)

['yamini', 'Nandini', 2, 2.2, 'true']
(1, 2, 3, 4)
{'name': 'Yeshu', 'age': 22, 'city': 'USA'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

In [ ]:
numbers = [random.randint(1, 100) for _ in range(5)]

In [ ]:
numbers.sort()

In [ ]:
print("sorted list:", numbers)

sorted list: [11, 35, 41, 61, 68]

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["orange", "papaya", "apple", "banana"]

In [ ]:
print(fruits[3])

banana

29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name":"sailaja", "age":42}
dict2 = {"city":"paris", "country":"USA"}

In [ ]:
dict1.update(dict2)

In [ ]:
print("combined dictionary", dict1)

combined dictionary {'name': 'sailaja', 'age': 42, 'city': 'paris', 'country': 'USA'}

30.  Write a code to convert a list of strings into a set.

In [ ]:
list_strings = ["yamini", "Nandini", "Venu", "Malike"]

In [ ]:
list_set = set(list_strings)

In [ ]:
print(list_set)

{'Venu', 'Nandini', 'Malike', 'yamini'}